
@font-face{

    font-family: suezone;
    src: url('../assets/fonts/taiJGmd_EZ6rqscQgOFOmos.woff2');
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.bg-img{
    background-image: url('../assets/imgs/silver.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;  
}
.bg-color{
    background-color: rgb(149, 168, 182); 
}

.bg-color1{
    background: radial-gradient(rgb(149, 168, 182) 20%, white 100%); 
}
