<meta charset="utf-8" />
<ion-header>
    
        <ion-navbar>
                <ion-title>
                דו"ח סיור
                </ion-title>
              </ion-navbar>
</ion-header>

<ion-content padding class="bg-img">
        <div *ngIf="x==0">
                
            <ion-grid  text-wrap>
                <ion-row>
                <ion-col>
                    <ion-list radio-group [(ngModel)]="rates" text-right >
                            <ion-list-header>
                                אנא בחר את הסיירת שלך:
                            </ion-list-header>
                            <ion-item *ngFor="let key of keys; let i = index" >
                                <ion-label text-right> {{key}} </ion-label>
                                <ion-radio
                                name="theRadioGroupName"
                                value="{{key}}" ></ion-radio>         
                            </ion-item>
                    </ion-list> 
                    

                    
                    <ion-item>
                        <ion-label color="black" text-right >*תאריך</ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate" required></ion-datetime>
                    </ion-item>

                    <ion-item>
                        <ion-label color="black" text-right>שעת התחלה</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="startTime"></ion-datetime>
                    </ion-item>     

                    <ion-item>
                            <ion-label color="black" text-right>שעת סיום</ion-label>
                            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="endTime"></ion-datetime>
                    </ion-item>  

                            <ion-item>
                                    <ion-label floating color="black" text-right>שמות מתנדבים</ion-label>
                                    <ion-input type="text" [(ngModel)]="volenteersName"></ion-input>
                            </ion-item> 
                        
                        </ion-col>
                    </ion-row>     
                    </ion-grid>
                    
                            <button type="button" (click)="rem()" ion-button full text-right>שמור פרטי סיור</button>
                    
                    <p text-center class="text" class="a">
                           ** לאחר השמירה תפתחנה אופציות לבחירת נקודה חמה וקרה **
                    </p>
                </div>
                <div *ngIf="x!=0">
                                <button type="button" (click)="delrem()" ion-button full >שינוי פרטים</button>
                        
                </div>
                <div *ngIf="x==1">
                    <span class="container"  text-center>
                        
                        <button ion-button class="round" icon-left id = "hot" (click)="hotClicked()" >
                            <ion-icon ios="ios-flame" md="md-flame"></ion-icon>
                            נקודה חמה
                        </button>
                    
                        <button ion-button class="round" icon-left id = "cold" (click)="coldClicked()">
                            <ion-icon ios="ios-snow" md="md-snow"></ion-icon>
                                נקודה קרה
                            </button>
                           
                            
                    </span>
                  
                            <button ion-button full  id = "document" (click)="captureImage()" >הוסף תמונה</button>
                           
                            <button ion-button full icon-left id = "document" (click)="function()" >
                                    <ion-icon ios="ios-document" md="md-document"></ion-icon>
                                     שלח דו"ח סופי
                            </button>
                            <ion-card>
                                    <ion-card-header>תמונה:</ion-card-header>
                                    <ion-card-content>
                                        <img [src]="currentImage" *ngIf="currentImage"/>
                                    </ion-card-content>
                            </ion-card>  
                       
                        
                    
            </div>
  </ion-content>