
<meta charset="utf-8" />
<ion-header>

  <ion-navbar>
    <ion-title text-center>
     דו"ח סיור נקודה חמה
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-color">
  
  <ion-grid  text-wrap>
      <ion-row>
         <ion-col>
          <ion-list radio-group>
                  <ion-list-header>
                      איזורי סיור:
                  </ion-list-header>
                  <ion-item *ngFor="let key of keys" >
                      <ion-label> {{key}} </ion-label>
                      <ion-checkbox [(ngModel)]="key[i]"></ion-checkbox>
                  </ion-item>

          </ion-list> 
              <ion-item>       
                  <ion-label color="white">מקומות נוספים בהם ביקרתם </ion-label>    
                    <ion-input type="text" [(ngModel)]="morePlaces"></ion-input>
              </ion-item>
             
              <ion-item>   
                  <ion-label color="white">	מספר חבורות שנצפו</ion-label>        
                    <ion-input [(ngModel)]="groupsNum" type="number" ></ion-input>
              </ion-item>

              <ion-item>     
                  <ion-label color="white">מספר הנערים/ות בכל  חבורה </ion-label>      
                    <ion-input [(ngModel)]="membersInGroup" type="number" ></ion-input>
              </ion-item>

              <ion-item>  
                  <ion-label color="white">ממוצע הגילאים </ion-label>         
                    <ion-input [(ngModel)]="averageAge" type="text" ></ion-input>
              </ion-item>

              <ion-item>     
                  <ion-label color="white">מספר נערים תחת השפעה חריגה של אלכוהול: </ion-label>      
                    <ion-input type="number" [(ngModel)]="alcohol"></ion-input>
              </ion-item>

              <ion-item>     
                  <ion-label color="white">מספר נערים תחת השפעה חריגה של סמים: </ion-label>      
                    <ion-input type="number" [(ngModel)]="drugs"></ion-input>
              </ion-item>

              <ion-item> 
                  <ion-label color="white">אירועים חריגים </ion-label>          
                    <ion-input  type="text" [(ngModel)]="exeptions"></ion-input>
              </ion-item>

              <ion-item>    
                  <ion-label color="white">פרטי הנער/ה ליצירת קשר או להעברה הלאה לגורמי טיפול </ion-label>       
                    <ion-input type="text" [(ngModel)]="details"></ion-input>
              </ion-item>

              <ion-item>    
                <ion-label color="white">דרכי טיפול</ion-label>       
                  <ion-input  type="text" [(ngModel)]="handle"></ion-input>
            </ion-item>

              <ion-item>    
                  <ion-label color="white">הערות</ion-label>       
                    <ion-input  type="text" [(ngModel)]="notes"></ion-input>
              </ion-item>
              <button ion-button full (click)="captureImage()" >הוסף תמונה</button>
             <button ion-button full (click)="storeInfoToDatabase()" >שלח</button>
            
    
              <ion-card>
                <ion-card-header>תמונה:</ion-card-header>
                <ion-card-content>
                    <img [src]="currentImage" *ngIf="currentImage"/>
                </ion-card-content>
              </ion-card>  
    
          </ion-col>    
    </ion-row>           
  </ion-grid>



</ion-content>
