page-contact{
    .title{
        text-align: center;
        padding: 50px;
    }
   .ion-lable{
        color:black !important;
        
    }
    .ion-checkbox{
        background-color: rgb(129, 134, 201)!important;
    }
    .button {
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        border-radius: 10px; 
        background-color:rgb(129, 134, 201);
        font-size: 15px;
        height: 50px;        
    }
    .button:hover {
        background-color:rgb(184, 181, 179)  !important; /* Green */
        color: white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
    }
    
}