page-contact{
    .title{
        text-align: center;
    }
    h1{
        font-weight: bold;
        font-size: 40px;
        text-shadow: 2px 2px #c4cad3;
    }
    .button {
        margin-left: auto;
        margin-right: auto;
        display: block !important;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        font-size: 15px;
        height: 50px;
        padding: 10px;
        background-color: #004381;
        color: white;
        border-radius: 5px;
        border: 1px solid gray;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    
    .button:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
        color: #004381 !important;
        padding: 10px !important;
        background-color: gainsboro !important;
        border: 1px solid gray !important;
        border-radius: 5px !important;
    }
    .item{
        background-color: rgb(149, 168, 182) !important; 
        color:white !important;
    }
    
}