page-home {

.button {
   text-align: center;
   width: 20%;
   height: 30%;
   border: black;
   background-color:rgb(255, 255, 255); /* Green */
    color: rgb(0, 0, 0);
}

#hot {
    background-color:rgb(233, 16, 16); /* Green */
}

}