page-home {
    .title{
        text-align: center;
    }
    ion-content {
        position: absolute;
        left: 32%;
        width: 100%;
    }
   
    h1 {
        display: inline-block;
        text-align: center;
        font-size: 45px;
        font-weight: bold;
        color: rgb(42, 42, 70);        
    }

.homePage.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px; 
    background-color:rgb(182, 98, 98); /* Green */
    font-family: "David", Times, serif;
    font-size: 15px;
    height: 50px;
}
#hot {
    background-color:rgb(233, 16, 16); /* Green */
}
    img {
        display: inline-block;
        width: 280px;
        height: 100px;
        margin-left: 3%;
        
    }

    .round {
        text-align: center;
        color: rgb(0, 0, 0);
        border-radius: 50%;
        height: 120px;
        width: 120px;
        font-size: 17px;
    }

    #hot {
        background-color:rgb(255, 2, 2);


    }

    #hot:hover {
        background-color:rgb(255, 151, 151);
    }

    #cold {
        background-color:rgb(20, 114, 255);
        border-radius: 50%; 
        margin-left:auto;
        margin-right: auto;

    }

    #cold:hover {
        background-color:rgb(168, 153, 255);
    }

    #moadonit {
        background-color:rgb(0, 211, 46);
        border-radius: 50%; 
    }

    #moadonit:hover {
        background-color:rgb(125, 221, 146);
    }


    .a {
        margin-left: 11%;
        margin-right: auto;
        display: block !important;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        border-radius: 7px; 
        background-color:rgba(58, 59, 66, 0.87); 
        font-size: 15px;
        height: 50px;
        padding-left:25px;
        padding-right: 25px; 
    }
    
    .a {
        background-color:rgb(223, 223, 253); /* Green */
        color: rgb(192, 192, 192);
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
}