
<ion-content padding class="bg-img">
    <ion-title> 
  <h1>סיירות הורים ירושלים</h1>
    </ion-title>
    <p>
      
      <div *ngIf="browserSize == 'desktop-card'">
          <ion-list > 
              <ion-item class="list1">
                <ion-label floating><ion-icon ios="ios-contact" md="md-contact"> </ion-icon>  אימייל  </ion-label>
                <ion-input type="text" [(ngModel)] = "user1.email"></ion-input>
              </ion-item>
          
              <ion-item class="list1" >
                <ion-label floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  סיסמא </ion-label>
                <ion-input type="password" [(ngModel)] = "user1.password"></ion-input>
              </ion-item>   
            </ion-list>
      </div>
    
      <div *ngIf="browserSize == 'mobile-card'">
          <ion-list > 
              <ion-item class="list2">
                <ion-label floating><ion-icon ios="ios-contact" md="md-contact"> </ion-icon>  אימייל </ion-label>
                <ion-input type="text" [(ngModel)] = "user1.email"></ion-input>
              </ion-item>
          
              <ion-item class="list2">
                <ion-label floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  סיסמא </ion-label>
                <ion-input type="password" [(ngModel)] = "user1.password"></ion-input>
              </ion-item>   
            </ion-list>
      </div>
        
        <button class="button" (click) ="login(user1)">התחברות</button>
      <!--  <button class="button" [navPush]="home">כניסה זמנית</button>-->
        <p>לא רשום? פנה לרכז האחראי </p>
        <div [ngClass]="browserSize" >
            <img src="./assets/imgs/new.png" />
        </div>     
</ion-content>
