<ion-header>
    <ion-navbar>
      <ion-title>הסרת סיירות וגנים</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  
  <ion-content padding text-right class="bg-img">
    
      
      <ion-item text-center class="text">
       הסרת סיירת
      </ion-item>
     <ion-item>
            <ion-label text-right>סיירת:</ion-label>
            <ion-select [(ngModel)]="locName">
              <ion-option *ngFor="let key of keys" [value] = "key">
              {{key}}
            </ion-option>
          </ion-select>
        </ion-item>           
          <button type="button" (click)="deleteDoc()" ion-button full >הסר סיירת</button>

  
      <ion-item text-center class="text">
        הסרת גן מסיירת
      </ion-item>
      <p text-center class="text" class="a">
         **אפשרות המחיקה תפתח לאחר בחירת סיירת
        </p>
      <ion-list>
          <ion-item>
            <ion-label text-right>סיירת:</ion-label>
            <ion-select [(ngModel)]="locName2">
              <ion-option *ngFor="let key of keys" [value] = "key">
              {{key}}
            </ion-option>
          </ion-select>
        </ion-item>
        
        <div *ngIf="locName2!=undefined">
            <div *ngIf="equals(locName2)">
            </div>
            <ion-item>
                <ion-label text-right>גן:</ion-label>
                <ion-select [(ngModel)]="subLocName">
                  <ion-option *ngFor="let key of keys2" [value] = "key">
                  {{key}}
                </ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
                <button type="button" (click)="deleteLoc()" ion-button full >הסר גן</button>
            </ion-item>
        </div>
    
       
      </ion-list>
    
        
      
  
  
  </ion-content>
  