.main_tab .tabbar{
    background-color: rgb(170, 175, 180);
}
.tabbar a[aria-selected=true]{
    background: rgb(227, 245, 255);
}
.tabbar .tab-button-text{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.tabbar .icon{
    color:rgb(227, 245, 255);
}
$tabs-md-tab-icon-color-active: black;