.main_tab .tabbar{
    background-color: rgb(180, 180, 180);
}
.tabbar a[aria-selected=true]{
    background: rgb(255, 255, 255);
}
.tabbar .tab-button-text{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
}
.tabbar .icon{
    color: rgb(104, 84, 218);
}